[submodule "thirdparty/jbig2dec"]
	path = thirdparty/jbig2dec
	url = http://git.ghostscript.com/jbig2dec.git
[submodule "thirdparty/mujs"]
	path = thirdparty/mujs
	url = http://git.ghostscript.com/mujs.git
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = http://git.ghostscript.com/thirdparty/freetype.git
[submodule "thirdparty/harfbuzz"]
	path = thirdparty/harfbuzz
	url = http://git.ghostscript.com/thirdparty/harfbuzz.git
[submodule "thirdparty/jpeg"]
	path = thirdparty/jpeg
	url = http://git.ghostscript.com/thirdparty/jpeg.git
[submodule "thirdparty/openjpeg"]
	path = thirdparty/openjpeg
	url = http://git.ghostscript.com/thirdparty/openjpeg.git
[submodule "thirdparty/zlib"]
	path = thirdparty/zlib
	url = http://git.ghostscript.com/thirdparty/zlib.git
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
    ignore = dirty
[submodule "thirdparty/curl"]
	path = thirdparty/curl
    url = http://git.ghostscript.com/thirdparty/curl.git
[submodule "thirdparty/tinyfiledialogs"]
	path = thirdparty/tinyfiledialogs
	url = http://git.code.sf.net/p/tinyfiledialogs/code
